@use 'accent.helper' as accent;
@use 'background.helper' as background;
@use 'base.helper' as base;
@use 'border.helper' as border;
@use 'shadow.helper' as shadow;
@use 'spacing.helper' as spacing;
@use 'typography.helper' as typography;

:host {
  @include base.fixed($top: spacing.spacing(4x), $right: spacing.spacing(4x));
  @include base.flex(column, $gap: spacing.spacing(2x));

  pointer-events: none;
  z-index: 1000;
  max-inline-size: base.px-to-rem(400px);
}

.error-banner {
  &__item {
    @include base.flex($justify: space-between, $align: flex-start, $gap: spacing.spacing(3x));

    pointer-events: auto;

    padding: spacing.spacing(3x) spacing.spacing(4x);
    border-inline-start: 4px solid accent.accent-color(blue);
    border-radius: border.border-radius(md);

    color: typography.text-color(primary);

    background-color: background.background-color(pill);
    box-shadow: shadow.shadow(dialog);

    &--warning {
      border-inline-start-color: accent.accent-color(red);
    }

    &--error {
      border-inline-start-color: typography.text-color(danger);
    }
  }

  &__message {
    @include typography.typography($size: sm, $line-height: regular);

    margin: 0;
  }

  &__close {
    @include base.flex($justify: center, $align: center, $inline: true);
    @include base.size(1.75rem);

    padding: 0;
    border-radius: border.border-radius(circle);
    color: typography.text-color(primary);
    background-color: transparent;
  }
}
