@use 'base.helper' as base;
@use 'border.helper' as border;
@use 'typography.helper' as typography;
@use 'breakpoint.helper' as breakpoint;

$thickness-mobile: 4px;
$thickness-desktop: 6px;

:host {
  @include base.flex($justify: center, $align: center, $inline: true);
  @include base.size(base.px-to-rem(60px));

  @include breakpoint.media(mobile) {
    @include base.size(base.px-to-rem(100px));
  }
}

.spinner__circle {
  display: block;
  border-radius: border.border-radius(circle);
  background: conic-gradient(
    from 0deg,
    base.transparentizer(typography.text-color(primary), 0%) 0deg,
    typography.text-color(primary) 360deg
  );
  mask: radial-gradient(
    circle,
    transparent calc(50% - #{$thickness-mobile}),
    #000 calc(50% - #{$thickness-mobile} + 1px)
  );

  @include base.size(100%);

  @include breakpoint.media(mobile) {
    mask: radial-gradient(
      circle,
      transparent calc(50% - #{$thickness-desktop}),
      #000 calc(50% - #{$thickness-desktop} + 1px)
    );
  }

  @media (prefers-reduced-motion: no-preference) {
    animation: spinner-rotate 900ms linear infinite;
  }
}

@keyframes spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}
