@use 'accent.helper' as accent;
@use 'background.helper' as background;
@use 'base.helper' as base;
@use 'border.helper' as border;
@use 'shadow.helper' as shadow;
@use 'spacing.helper' as spacing;
@use 'typography.helper' as typography;

:host {
  @include base.flex(column, $gap: spacing.spacing(1x));

  position: relative;

  min-inline-size: base.px-to-rem(280px);
  padding: spacing.spacing(2x);
  border-radius: border.border-radius(md);

  color: typography.text-color(primary);

  background-color: background.background-color(scrim);
  box-shadow: shadow.shadow(dialog);
}

.quality-menu {
  &__row {
    @include base.flex($justify: space-between, $align: center, $gap: spacing.spacing(3x));
    @include typography.typography(secondary, lg, $text-align: left);

    inline-size: 100%;
    padding: spacing.spacing(2x) spacing.spacing(3x);
    border-radius: border.border-radius(md);
    background-color: transparent;

    &:hover {
      background-color: base.transparentizer(black, 6%);
    }

    &--selected {
      color: typography.text-color(primary);
    }

    @media (prefers-reduced-motion: no-preference) {
      @include base.transition(color, background-color);
    }
  }

  &__label {
    flex: 1 1 auto;
  }

  &__check {
    @include base.size(1rem);

    flex: 0 0 auto;
    color: accent.accent-color(green);
  }
}
